<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207159431541-aaju6lli4vo944ira61pg697m488pmdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207159431541-aaju6lli4vo944ira61pg697m488pmdd</string>
	<key>API_KEY</key>
	<string>AIzaSyCGStnPa8tKE7Os6wYLZKHiWoxFOqcYOpg</string>
	<key>GCM_SENDER_ID</key>
	<string>207159431541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehedihasan290.TaskKey</string>
	<key>PROJECT_ID</key>
	<string>taskkey-c408a</string>
	<key>STORAGE_BUCKET</key>
	<string>taskkey-c408a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207159431541:ios:c13757afc2227c6282833c</string>
	<key>DATABASE_URL</key>
	<string>https://taskkey-c408a.firebaseio.com</string>
</dict>
</plist>